.component-article-row {
    width: relative;
    display: block;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
}

.component-article-row:hover {
    background-color: #eee;
}

.component-article-row .title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    
}